@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.ttf');
    src: url('../fonts/Rubik-Light.ttf?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Light.ttf') format('ttf'), url('../fonts/Rubik-Light.ttf') format('truetype'), url('../fonts/Rubik-Light.ttf#RubikLight') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.ttf');
    src: url('../fonts/Rubik-Medium.ttf?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Medium.ttf') format('ttf'), url('../fonts/Rubik-Medium.ttf') format('truetype'), url('../fonts/Rubik-Medium.ttf#RubikRegular') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Black.ttf');
    src: url('../fonts/Rubik-Black.ttf?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Black.ttf') format('ttf'), url('../fonts/Rubik-Black.ttf') format('truetype'), url('../fonts/Rubik-Black.ttf#RubikBold') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-LightItalic.ttf');
    src: url('../fonts/Rubik-LightItalic.ttf?#iefix') format('embedded-opentype'), url('../fonts/Rubik-LightItalic.ttf') format('ttf'), url('../fonts/Rubik-LightItalic.ttf') format('truetype'), url('../fonts/Rubik-LightItalic.ttf#RubikLightItalic') format('ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-MediumItalic.ttf');
    src: url('../fonts/Rubik-MediumItalic.ttf?#iefix') format('embedded-opentype'), url('../fonts/Rubik-MediumItalic.ttf') format('ttf'), url('../fonts/Rubik-MediumItalic.ttf') format('truetype'), url('../fonts/Rubik-MediumItalic.ttf#RubikItalic') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-BlackItalic.ttf');
    src: url('../fonts/Rubik-BlackItalic.ttf?#iefix') format('embedded-opentype'), url('../fonts/Rubik-BlackItalic.ttf') format('ttf'), url('../fonts/Rubik-BlackItalic.ttf') format('truetype'), url('../fonts/Rubik-BlackItalic.ttf#RubikBoldItalic') format('ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/sourcecodepro-regular.eot');
    src: url('../fonts/sourcecodepro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcecodepro-regular.woff') format('woff'), url('../fonts/sourcecodepro-regular.ttf') format('truetype'), url('../fonts/sourcecodepro-regular.svg#sourcecodeproregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/sourcecodepro-bold.eot');
    src: url('../fonts/sourcecodepro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcecodepro-bold.woff') format('woff'), url('../fonts/sourcecodepro-bold.ttf') format('truetype'), url('../fonts/sourcecodepro-bold.svg#sourcecodeprobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

.articles,
.jscroll-inner {
    width: 100%;
    max-width: 750px;
    display: block;
    position: relative;
    margin: 0px auto;
}

.articles article,
.jscroll-inner article {
    position: relative;
}

.articles article:after,
.jscroll-inner article:after {
    content: "";
    display: table;
    clear: both;
}

.articles article img,
.articles article>iframe,
.jscroll-inner article img,
.jscroll-inner article>iframe {
    width: 100%;
}

#grid {
    opacity: 0.7;
}